body {
    background-color:rgb(21, 41, 85);
    color: black;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 30%;
    Margin: 2em;
}

#title {
    justify-content: space-around;
    text-align: center;
    font-size: 100px;
    color: rgb(119, 68, 31);

}

.welcome {
    background-color: white;
    margin: 20%;
    padding: 10%;
    border-radius: 10%;
    border-style: solid;
    border-color: darkgrey;
    text-align: center;
    

}

p {
    line-height: 1.5em;
}

